<div class="container" [ngClass]="{textDirectionRTL: language === 'AR'}">
  <div class="col-left">
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Buy</th>
            <th>Sale rate</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let currency of currenciesToUSD" (click)="onSelect(currency)">
            <td> <a [routerLink]="['/transactions', currency.name]">{{currency.name}}</a></td>
            <td>{{currency.sell}}</td>
            <td>{{currency.buy}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-right">
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>date</th>
            <th>name</th>
            <th>min</th>
            <th>max</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let currency of selectedCurrencies">
              <td>{{currency.date}}</td>
              <td>{{currency.name}}</td>
              <td>{{currency.min}}</td>
              <td>{{currency.max}}</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
